div.image-strip#deathstrip {
	background-image: url(projects/deathstrip/str_deathstrip.jpg);
}

div.image-strip#violet100 {
	background-image: url(projects/violet100/str_violet100.jpg);
	background-position: center 23%; /* override so that woman's face is visible */
}
