html {
	font-family: "Fanwood-JF", "Fanwood", "Times New Roman", serif;
	font-weight: normal;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	/* TODO: Stop doing this, but make body text a little ligther to compensate */
}

body {
	background-color: #eeeeee;
	color: #454545;
	overflow-x: hidden;
	margin: 0;
}

a:link, a:visited {
	color: #ff0022;
	text-decoration: none;
	transition: .7s color;
}

a:hover {
	color: #848484;
}

a:active {
	color: #a8a8a8;
}

a.no-dec {
	-webkit-transition: none;
	        transition: none;
}

p, h3, h4, h5, h6 {
	font-kerning: normal;
	font-variant-ligatures: common-ligatures contextual;
	   -moz-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "calt" 1, "liga" 1, "clig" 1, "dlig" 1;
	    -ms-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "calt" 1, "liga" 1, "clig" 1, "dlig" 1;
	     -o-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "calt" 1, "liga" 1, "clig" 1, "dlig" 1;
	-webkit-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "calt" 1, "liga" 1, "clig" 1, "dlig" 1;
	        font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "calt" 1, "liga" 1, "clig" 1, "dlig" 1;
}

ol, ul {
	padding-left: 30px;
	padding-right: 30px;
    /* best if these match values for
	@media all and (max-width: 1000px)
	{ div#story > p, div#story > img } */
}

li {
	margin: 1em 0;
}

p.caption {
	font-size: 12px;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 1px;
	   -moz-font-feature-settings: "lnum" 1;
	    -ms-font-feature-settings: "lnum" 1;
	     -o-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;
	        font-feature-settings: "lnum" 1;
}

p.caption i {
	font-style: normal;
}

/* STYLES FOR HEADER & FOOTER */

div#header, div#footer {
	font-weight: normal;
	text-align: center;
	color: #818181;
	text-transform: uppercase;
	margin: 45px 15px;
	min-width: 210px;
	   -moz-font-feature-settings: "lnum" 1;
	    -ms-font-feature-settings: "lnum" 1;
	     -o-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;
	        font-feature-settings: "lnum" 1;
}

h1 {
	font-size: 26px;
	font-weight: normal;
	letter-spacing: 3px;
	/* transform: rotate(-6deg);
	margin: 50px -3px 50px 0; */
	margin: 0 -3px 0 0; /* keep margin-right equal to -(letter-spacing value) */
}

div.index-header h1 {
	letter-spacing: 28px;
	margin: 15px -28px 15px 0; /* keep margin-right equal to -(letter-spacing value) */
}

div.index-header h1::before {
	content: "\2022\00a0";
}

div.index-header h1::after {
	content: "\00a0\2022";
}

/* To restore proper margin collapsing,
   I moved the a inside the h2. If I can
   solve margin collapsing and move it back
   outside, the bottom two selectors here
   should become unneccesary. */
h2,
h2 a:link,
h2 a:visited {
	color: #a1a1a1;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 7px;
	margin: 15px -7px 15px 0; /* keep margin-right equal to -(letter-spacing value) */
}

span.lc {
	text-transform: none;
	font-style: italic;
	letter-spacing: 3.5px;
}

h2 span.lc {
	margin-right: 3.5px; /* =(h2.h-t.let-spac value) - (span.lc.let-spac value) */
}

a.footer-returnlink h2 {
	display: inline-block;
}

div.icon-index + h2 {
	margin-left: 9px;
}

/* STYLES FOR CSS ICONS */

div.icon-index {
	display: inline-block;
	width: 18px;
	height: 12px;
	position: relative;
	top: 2px;
	-webkit-transition: .2s top;
	        transition: .2s top;
}

div.icon-index div.icon-index-stripe {
	border-style: solid none solid;
	border-width: 1px;
	border-color: #a4a4a4 #a4a4a4 transparent;
	height: 0px;
	-webkit-transition: .05s border, .2s border-color, .2s height, .2s margin;
	        transition: .05s border, .2s border-color, .2s height, .2s margin;
}

/* remove the below property and the icon will
   animate more like the actual .image-strips,
   but have poor vertical alignment with text. */
a.footer-returnlink:hover div.icon-index,
a.footer-returnlink:focus div.icon-index {
	top: 0;
}

a.footer-returnlink:hover div.icon-index div.icon-index-expand,
a.footer-returnlink:focus div.icon-index div.icon-index-expand {
	border: 1px solid #a4a4a4;
	height: 2px;
	margin-bottom: 1px;
}

/* STYLES FOR PROJECT STORIES */

/* Fake 800px width while still allowing for .superoverhang */
div#story > * {
	max-width: 800px;
	margin: 1em auto;
}

div#story > *:first-child {
	margin-top: 0px;
}

div#story img {
	display: block;
	width: 100%;
}

/* for designs whose backgrounds are or are dangerously close to #eeeeee */
div#story .border {
	border: 2px solid #dddddd;
	margin-left: -2px;
}

div#story .overhang {
	max-width: 1000px;
}

div#story .superoverhang {
	max-width: none;
	width: 100%;
}

div#story div p.caption {
	margin-top: 3px;
	margin-left: -1px;
}

div#story .superoverhang p.caption {
	margin-left: 15px; /* must match @media all and (max-width: 1016px) { p.caption } */
}

div#story .gallery {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	     -ms-flex-align: stretch;
	        align-items: stretch; /* if this works it'll be amazing: short items will stretch themselves to the tallest */
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	          -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-content: flex-start;
	        -ms-flex-line-pack: start;
	        align-content: flex-start;
}

div#story .gallery > div,
div#story .gallery > img,
div#story .gallery .frame {
	margin: 15px 15px 0 0;
	/* TODO: use flex:auto here
	   and flex-flow: row wrap above and
	   I can make the row wrap when .frames are
	   below a certain width. */
}

/* Method using calc() and gallery width-specific classes

.g2 {
	width: calc(50% - (15px / 2));
}

.g3 {
	width: calc(33.33333333% - 15px + (15px / 3));
}

*/

div#story .gallery > div:last-child,
div#story .gallery > img:last-child,
div#story .gallery .frame:last-child {
	margin-right: 0;
}

div#story .credits {
	max-width: 100%;
	margin: 45px 15px; /* keep equal to div#footer margins */
	text-align: center;
	text-transform: uppercase;
}

div#story .credits p {
	font-size: 12.5px; /* .625rem */
	line-height: 1.6em; /* 1rem */
	margin: 6px 0;
	   -moz-font-feature-settings: "lnum" 1;
	    -ms-font-feature-settings: "lnum" 1;
	     -o-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;
	        font-feature-settings: "lnum" 1;
}

div#story .credits .name {
	text-transform: none;
	font-size: 1.6em; /* 1rem */
	font-style: italic;
	margin: 0 1px;
}

div#story .credits .name:not(.wrap) {
	white-space: nowrap;
}

/* STYLES FOR THE INDEX */

div#stripestack {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

div.image-strip {
	background-color: #e2e2e2;
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 1px;
	        transition: .7s all;
	-webkit-transition: .7s all;
	z-index: -1;
	overflow: hidden;
}

a.portfolio-item {
	display: block;
}

/* TODO: Use :before classes and separate styling
   to append .item-subtitles and .item-clients to .item-titles
   linked by " for " or ": " respectively */
.portfolio-item h3 {
	font-family: "Raleway";
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	color: #818181;
	letter-spacing: 2px;
	margin: 0 0 0 -.5px;
	padding: 4px 0; /* using margins adds an unwanted gap in the clickable areas */
	opacity: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* See .portfolio-item h3, div#story p.caption selector
	   for transition rules. Rules set here get overridden. */
	   -moz-font-feature-settings: "lnum" 1;
	    -ms-font-feature-settings: "lnum" 1;
	     -o-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;
	        font-feature-settings: "lnum" 1;
}

.portfolio-item span.item-client {
	color: #b9b9b9;
	opacity: 0;
}

.portfolio-item:hover div.image-strip,
.portfolio-item:focus div.image-strip {
	height: 21px;
}

.portfolio-item:hover h3,
.portfolio-item:focus h3 {
	opacity: 1;
	-webkit-transition-delay: .5s;
	        transition-delay: .5s;
}

.portfolio-item:hover span.item-client,
.portfolio-item:focus span.item-client {
	opacity: 1;
	-webkit-transition-delay: 1.7s;
	        transition-delay: 1.7s;
	-webkit-transition-duration: 1.4s;
	        transition-duration: 1.4s;
}

.portfolio-item:active div.image-strip {
	height: 300px;
	/* TODO: transition-duration: 1.5s [or longer?]; */
}

.portfolio-item h3, div#story p.caption {
	-webkit-transition: margin-left .3s, opacity .7s;
	        transition: margin-left .3s, opacity .7s;
	/* No delay for opacity because these properties
	   determine how it will RETURN to a transparent state.
	   Delay set in .portfolio-item:hover h3... */
}

/* STYLES FOR CARD */

div.card {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;

	position: relative;
	margin: 0 auto;
	width: 80vw;
	height: 45.7142857143vw; /* 3.5:2 aspect ratio */
	max-width: 400px;
	max-height: 228px;

	border: 1px solid #818181;
	background-color: #f8f8f8;

	text-align: center;
}

div.card .contact {
	font-weight: normal;
	margin: 1em 0;
	letter-spacing: 1px;
	line-height: 1.2em;
	height: 1.2em;
}

div.card .contact span.contract,
div.card .contact span.expand {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	white-space: nowrap;
	transition: 1s opacity ease, 1s width ease;
}

div.card .contact span.expand {
	opacity: 0;
}

div.card .contact span.contract {
	opacity: 1;
}

div.card .contact:hover span.expand,
div.card .contact:focus span.expand,
div.card .contact:active span.expand {
	width: 70%;
	opacity: 1;
}

div.card .contact:hover span.contract,
div.card .contact:focus span.contract,
div.card .contact:active span.contract {
	width: 0;
	opacity: 0;
}

span.digits {
	opacity: 0;
}

span.one.digits {
	width: .55em;
	width: calc(.55em * 1);
}

span.two.digits {
	width: 1.1em;
	width: calc(.55em * 2);
}

span.three.digits {
	width: 1.65em;
	width: calc(.55em * 3);
}

span.four.digits {
	width: 2.2em;
	width: calc(.55em * 4);
}

span.subscribernumber.digits {
	width: 4.1585em;
	margin-left: .2em;
}

@media all and (max-width: 1016px) {
	.portfolio-item h3 {
		margin-left: 5px;
	}

	div#story div p.caption {
		margin-left: 15px; /* must match .superoverhang p.caption */
	}
}

@media all and (min-width: 1001px) and (max-width: 1016px) {
	body {
		padding-left: auto;
		padding-right: auto;
	}
}

@media all and (max-width: 1000px) {
	div.index-header h1::before, div.index-header h1::after {
		content: none;
	}

	div#story > p, div#story > img {
		padding-left: 30px;
		padding-right: 30px;
	}

	div#story > img {
		width: 80%;
		width: calc(100% - 60px);
	}
}
