html {
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #eeeeee;
	overflow: hidden;
}

div.container {
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

div.container a {
	text-decoration: none;
}

div.header {
	font-family: "Fanwood", serif;
	text-align: center;
	color: #818181;
	text-transform: uppercase;
	margin: 15px;
	min-width: 210px;
}

span.lc {
	text-transform: none;
	font-style: italic;
	letter-spacing: 3.5;
}

h2.header-top, h2.header-bot {
	font-size: 18;
	letter-spacing: 7;
	margin: 0 -7px 0 0; /* keep margin-right equal to -(letter-spacing value) */
}

h1.header-mid {
	font-size: 26;
	letter-spacing: 28;
	margin: 15px -28px 15px 0; /* keep margin-right equal to -(letter-spacing value) */
}

/* TODO: Use :before classes and separate styling
   to append .item-subtitles and .item-clients to .item-titles
   linked by " for " or ": " respectively */
div.portfolio-item h3, div.portfolio-item h4 {
	font-family: "Raleway";
	font-weight: 100;
	font-size: 12px;
	text-transform: uppercase;
	color: #818181;
	letter-spacing: 2;
	font-feature-settings: lnum;
	margin: 4px -1px;
	opacity: 0;
	transition-duration: .7s;
	transition-property: opacity;
	/* No delay because these properties determine
	   how it will RETURN to a transparent state.
	   Delay set in div.portfolio-item:hover h3... */
}

/* TODO: Rename to image-stripe */
div.image-strip {
	background-color: #e2e2e2;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 1px;
	transition: .7s all;
	z-index: -1;
	overflow: hidden;
}

div.portfolio-item:hover div.image-strip {
	height: 21px;
}

div.portfolio-item:hover h3, div.portfolio-item:hover h4 {
	opacity: 1;
	transition-delay: .5s;
}

div.portfolio-item:active div.image-strip {
	height: 600px;
	/* TODO: transition-duration: 1.5s [or longer?]; */
}

@media all and (min-width: 801px) and (max-width: 816px) {
	body {
		margin-left: auto;
		margin-right: auto;
	}
}

@media all and (max-width: 800px) {
	body {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	div.portfolio-item h3, div.portfolio-item h4 {
		margin-left: 5px;
	}
}
