html {
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #eeeeee;
	color: #454545;
	overflow-x: hidden;
}

div#container > * {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

div#container a {
	text-decoration: none;
}

div#header {
	font-family: "Fanwood", serif;
	text-align: center;
	color: #818181;
	text-transform: uppercase;
	font-feature-settings: "lnum";
	padding: 45px 15px;
	min-width: 210px;
}

h1 {
	font-size: 26px;
	letter-spacing: 3;
	/* transform: rotate(-6deg);
	margin: 50px -3px 50px 0; */
	margin: 15px -3px 15px 0;
}

div.index-header h1 {
	letter-spacing: 28;
	margin: 15px -28px 15px 0; /* keep margin-right equal to -(letter-spacing value) */
}

div.index-header h1::before {
	content: "\2022\00a0";
}

div.index-header h1::after {
	content: "\00a0\2022";
}

h2 {
	color: #a1a1a1;
	font-size: 18;
	letter-spacing: 7;
	margin: 0 -7px 0 0; /* keep margin-right equal to -(letter-spacing value) */
}

span.light {
	color: #a1a1a1;
}

span.lc {
	text-transform: none;
	font-style: italic;
	letter-spacing: 3.5;
}

h2 span.lc {
	margin-right: 3.5px; /* =(h2.h-t.let-spac value) - (span.lc.let-spac value) */
}

/* STYLES FOR PROJECT STORIES */

div#story {
	padding: 0 100px;
	margin: 0 auto;
}

div#story img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.overhang {
	margin-left: -100px;
	width: 1000px;
}

p {
	font-family: "Fanwood", serif;
	font-size: 20px;
}

p.caption {
	font-size: 12px;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 3px;
	margin-left: -1px;
}

/* STYLES FOR THE INDEX */

/* TODO: Use :before classes and separate styling
   to append .item-subtitles and .item-clients to .item-titles
   linked by " for " or ": " respectively */
div.portfolio-item h3, div.portfolio-item h4 {
	font-family: "Raleway";
	font-weight: 100;
	font-size: 12px;
	text-transform: uppercase;
	font-feature-settings: "lnum";
	color: #818181;
	letter-spacing: 2;
	margin: 4px -.5px;
	opacity: 0;
	transition-duration: .7s;
	transition-property: opacity;
	/* No delay because these properties determine
	   how it will RETURN to a transparent state.
	   Delay set in div.portfolio-item:hover h3... */
}

/* TODO: Rename to image-stripe */
div.image-strip {
	background-color: #e2e2e2;
	background-position: center top;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 1px;
	transition: .7s all;
	z-index: -1;
	overflow: hidden;
}

div.portfolio-item:hover div.image-strip {
	height: 21px;
}

div.portfolio-item:hover h3, div.portfolio-item:hover h4 {
	opacity: 1;
	transition-delay: .5s;
}

div.portfolio-item:active div.image-strip {
	height: 300px;
	/* TODO: transition-duration: 1.5s [or longer?]; */
}

@media all and (max-width: 1016px) {
	div.portfolio-item h3, div.portfolio-item h4 {
		margin-left: 5px;
	}

	p.caption {
		margin-left: 15px;
	}
}

@media all and (min-width: 1001px) and (max-width: 1016px) {
	body {
		margin-left: auto;
		margin-right: auto;
	}
}

@media all and (max-width: 1000px) {
	body {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	div.index-header h1::before, div.index-header h1::after {
		content: none;
	}

	div#story .overhang {
		max-width: 100%;
		max-width: calc(100% + 60px);
		margin-left: -30px; /* TODO: Is there any way to make this not apply to browsers who can't do calc()? */
	}

	div#story {
		padding: 0 30px;
	}
}
